/* Reset padding and margin and setting standerd font*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	min-height: 100%;
	overflow: auto;
}

/* Styling of text elements */
#header {
	width: 100%;
	height: 150px;
	background-color: #FFF;
	display: block;
	background-size: cover;
}

#header h1 {
	position: relative;
	margin-left: auto;
	color: #366;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
	font-size: 80px;
	text-shadow: 2px 2px #000;
}

#header h2 {
	position: relative;
	color: #366;
	font-style: italic;
	text-align: center;
	font-size: 30px;
	padding-left: 100px;
	text-shadow: 2px 2px #000;
}

/* Navbar */
#navbar {
	overflow: hidden;
	background-color: #000;
	text-shadow: 2px 2px #000;
	height: 55px;
	font-weight: 900;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.fixednav {
	position: fixed;
	top: 0;
	width: 100%;
}

/*Used as placeholder so the content wont jump when navbar sticks*/
#navph {
	height: 55px;
	display: block;
}

/* Styling for navbar buttons */
#navbar a {
	float: left;
	display: block;
	width: 200px;
	height: 24.5px;
	top: -5px;
	color: #FFF;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	border-top: 5px solid #666;
	border-bottom: 5px solid #000;
	transition: 1s;
}

.active a {
	color: #000;
	background-color: #366;
	border-top: 5px solid #366;
	border-bottom: 5px solid #000;
}

#navbar a:hover {
	color: #366;
	background-color: #000;
	border-top: 5px solid #366;
	border-bottom: 5px solid #000;
}

/*Styling content section*/
#cwrapper {
	padding: 60px 300px 60px 300px;
	height: 100%;
	background-color: #EEE;
	overflow: hidden;
}

#landingbanner {
	display: block;
	width: 100%;
	height: 500px;
	background-image: url(../img/headerbg.png);
}

/*Styling project list*/
#prlist {
	width: 900px;
	height: 100%;
	max-width: 900px;
	float: left;
}

.projectpostwrap {
	border-left: 15px solid #366;
	width: 850px;
	height: 250px;
	display: block;
	background-color: #FFF;
	padding: 10px;
	margin-bottom: 20px;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	overflow: hidden;
}

.projectpost {
	width: 580px;
	padding: 10px;
	float: left;
}

.projectpost h1 {
	font-size: 20px;
}

.prthumb {
	display: block;
	width: 250px;
	height: 250px;
	background-color: #F00;
	float: left;
}

/*Styling project selection section*/
#prnav {
	width: 250px;
	height: 250px;
	display: block;
	background-color: #AAA;
	padding: 10px;
	margin-bottom: 20px;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
	overflow: hidden;

}

/*Styling project form*/



/*Project form Succes/Error text*/
.perror {
	color: #F00;
	padding-left: 250px;
}

/*Opmaak footer*/
#footerbar {
    background-color: #333;
	color: #366;
	height: 20px;
	text-align: center;
	clear: both;
}

#footerend {
	height: 300px;
}

#footerend a {
	text-decoration: none;
}

/*Used to keep document height when footerbar gets repostioned */
#footerph {
	height: 20px;
	display: block;
}

/*Used by JS to make footer sticky*/
.fixedfooter {
    position: fixed;
	bottom: 0;
	width: 100%;
}

